
html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}


.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 90%;

}

h1,
h2,
h3 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 1.875em;
}

h2 {
    font-size: 1.125em;
}

h3 {
    font-size: 0.75em;
}

p {
    font-size: 0.875em;
    padding: 0 30px;
    line-height: 21px;

}

/*The widths are in a percentage!*/
header {
    border-bottom: 3px solid #77a466;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
}

header h1 {

    margin: 0;
    padding: 2.375em 1.25em 1.25em 1.25em;
    border-bottom: 3px solid #77a466;
    width: 100%;
}

header h1 span {
    color: #77a466;
}

header nav {
    padding: 46px 0;
}

header nav ul {
    margin: 0;
    padding: 0;

}

header nav ul li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875em;
    padding: 10px 0px;
    list-style: none;

}

header nav ul li a {
    text-decoration: none;
    color: #77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.main-image {}

.main-image img {
    width: 100%;
    border-bottom: 0.1875em solid #77a466;
}

.menu {
    text-align: left;
}

.main-title h2 {
    text-align: left;
    padding: 0.3125em 0;
    color: #77a466;
}

.main-title p {
    padding: 0;
    font-size: 1em;
    line-height: 1.5625em;

}

.section-one,
.section-two,
.section-three {
    width: 100%;
    border-top: 0.0625em solid #eee;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 0.625em 0;
    color: #77a466;
}

.reviews {
    color: #333;
    font-size: 1em;

    line-height: 1.3125em;
    text-align: left;
    padding: 0px;

}

.address {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0px;

}

/*The widths are in a percentage!*/
footer {
    border-top: 0.1875em solid #eee;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

footer span {
    font-family: 'Galada', cursive;
    text-transform: lowercase;
    color: #77a466;
    font-size: 0.875em;
}

@media all and (min-width:768px) {

    /* Tablet styles here */
    .bottom-section {
        justify-content: space-between;
        align-items: flex-start;
        border-top: 1px solid #eee;
    }

    .section-one,
    .section-two,
    .section-three {
        border-top: none;
        flex-basis: 30%;
    }

    .section-two {
        border-left: 0.0625em solid #eee;
        border-right: 0.0625em solid #eee;
        padding: 0 1.25em;
    }
}

@media all and (min-width:1200px) {

    /* Desktop styles here */
    header {
        justify-content: space-between;
    }

    header h1 {

        width: 30%;
        padding: 0;
        border-bottom: none;
        text-align: left;
    }


    header nav ul {
        display: flex;
        justify-content: space-between;

    }

    header nav {
        width: 40%;
    }


}